<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expense Tracker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Expense Tracker</h1>
    <div>
        <h2>Budget: ${{  budget  }}</h2>
        <h2>Spent: ${{  total  }}</h2>
        <h2>Remaining: ${{ remaining  }}</h2>
        <h2>Used: %{{ "%.2f"|format(percent)  }}</h2>
    </div>
    <div style="width:300px; background:#ddd; border-radius:10px;">
        <div style="
            width: {{ percent  }}%;
            background: {{  color  }};
            height: 20px;
            border-radius: 10px;">
        </div>
    </div>
    <form method="POST" action="/add">
        <input type="text" name="title" placeholder="Title" required>
        <input type="number" step="0.01" name="amount" placeholder="Amount" required>
        <input type="text" name="category" placeholder="Category" required>
        <button type="submit">Add expense</button>
    </form>
    <form action="/stats" method="POST">
        <button>View Statistics</button>
    </form>
    <form method="POST" action="/set_budget">
        <input type="number" step="0.01" name="budget" placeholder="Set Budget" required>
        <button type="submit">Set Budget</button>
    </form>
    {%if expenses %}
        <ul>
        {% for expense in expenses %}
            <li>
                {{  expense[1]  }} -
                $ {{  expense[2]  }} -
                {{  expense[3]  }} -
                {{  expense[4]  }} 
                <form action="/delete/{{ expense[0]  }}" method="POST">
                    <button type="submit">Delete</button>
                </form>
                <form action="/edit/{{ expense[0]  }}">
                    <button type="submit">Edit</button>
                </form>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No expenses found.</p>
    {% endif %}
</body>
</html>